<div class="team-card">
    <div class="card bg-light text-center">
        <div class="card-header">
            Team - {{teamName | uppercase}}
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let player of teamPlayers">{{player}}</li>
            </ul>
        </div>
        <div class="card-footer add-new-player">
            <button type="button" class="btn btn-primary" *ngIf="!showInputBox" (click)="showPlayerInputBox()">Add Player</button>
            <div class="new-player-input-box form-inline" *ngIf="showInputBox">
                <input type="text" #playerName class="player-name form-control">
                <button type="button" class="btn btn-primary form-control" (click)="addPlayer(playerName)">Add</button>
            </div>
        </div>
    </div>
</div>