.view-team .cards-main-holder {
  border: 1px solid #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 50px;
}

.view-team .cards-main-holder .card-holder {
  border: 1px solid #567;
}
