<div class="create-team-wrapper">
    <div class="game-option-wrapper">
        <div class="select-all-wrapper">
            <input id="playerSelection" type="checkbox" [(ngModel)]="selectAll" (change)="selectAllPlayers();" />
            <label for="playerSelection"></label>
            <span>Select All Players</span>
        </div>
        <div class="team-size-wrapper">
            <span class="team-size-label">Players per team</span>
            <select class="team-size-selector custom-select" [(ngModel)]="teamSize">
                <option *ngFor="let teamSize of teamSizeOptions" [value]="teamSize">{{teamSize}}</option>
            </select>
        </div>
    </div>
    <div class="player-grid-wrapper">
        <div class="player-grid-item form-group checkbox-rounded checkbox-success-filled" *ngFor="let player of players">
            <input id={{player.name}} class="filled-in" (change)="changePlayer(player)" type="checkbox" [(ngModel)]="player.selected">
            <label for={{player.name}}></label>
            <span class="name-label">{{player.name}}</span>
        </div>
    </div>
    <div class="generate-button-wrapper">
        <input type="button" class="btn btn-primary" value="Make Teams" (click)="formTeams()">
    </div>
</div>